body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f4f8;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, #108EE9, #0A6ED1);
  color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header h2 {
  margin: 0;
}

.header p {
  margin: 5px 0 0;
  opacity: 0.8;
}

/* SALDO */
.saldo-card {
  background: white;
  margin: -30px 20px 20px;
  padding: 20px;
  border-radius: 150px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.saldo-card h1 {
  color: #108EE9;
}

/* FORM */
.form-card {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
}

.form-card input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.form-card button {
  width: 100%;
  padding: 12px;
  background: #108EE9;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

/* LIST */
.list-card {
  margin: 20px;
}

.item {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left {
  display: flex;
  flex-direction: column;
}

.item-left small {
  color: gray;
}

.item-right {
  color: red;
  font-weight: bold;
}
